#insert bot token
DISCORD_TOKEN=
#insert channel id(must be NSFW!)
CHANNEL_ID=
#command prefix
COMMAND_PREFIX=!
#adjust however you like
TAGS=order:hot
#adjust however you like(in minutes, used for scheduled posts)
POST_INTERVAL=20
#insert E621 username (optional)
E621_USERNAME=
#insert E621 api key(optional)
E621_API_KEY=
