#insert bot token
DISCORD_TOKEN=
#insert channel id(must be NSFW!)
CHANNEL_ID=
#command prefix
COMMAND_PREFIX=!
#adjust however you like
TAGS=order:hot
#adjust however you like
POST_INTERVAL=20
#insert username (optional)
E621_USERNAME=
#insert api key(optional)
E621_API_KEY=
